.single {
    display: flex;
    width: 100%;

    .singleContainer {
        flex: 6;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;

            .left {
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                position: relative;

                .item {
                    display: flex;
                    gap: 20px;

                    .itemImg {
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details {
                        .detailTitle {
                            font-size: 24px;
                            margin-bottom: 6px;
                            color: #555;
                        }

                        .detailItem {
                            font-size: 14px;

                            .itemKey {
                                font-weight: bold;
                                color: gray;
                            }

                            .itemValue {
                                font-weight: 300;
                            }
                        }
                    }
                }

                .editButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 12px;
                    color: #7451f8;
                    background-color: #7551f81e;
                    border-radius: 0 0 0 5px;
                    cursor: pointer;
                }

                .title {
                    font-size: 20px;
                    color: rgb(151, 151, 151);
                    margin-bottom: 5px;
                }
            }

            .right {
                flex: 2;

                .title {
                    font-size: 20px;
                    color: rgb(151, 151, 151);
                    margin-bottom: 5px;
                }
            }

        }

        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;

            .title {
                font-size: 20px;
                color: rgb(151, 151, 151);
                margin-bottom: 5px;
                padding: 5px;
            }
        }
    }
}