.navbar
{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(231,228,228);
    font-size: 14px;
    color: #555;

    .wrapper
    {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search
        {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            border-radius: 8px;
            input
            {
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder
                {
                    font-size: 13px;
                }
            }
        }
        .items
        {
            display: flex;

            .item
            {
                display: flex;
                align-items: center;
                margin-right: 20px;

                .icon
                {
                    font-size: 20px;
                }
                .avtar
                {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }

                .counter
                {
                    height: 15px;
                    width: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    color: rgb(255, 255, 255);
                    border-radius: 50%;
                    font-size: 10px;
                    font-weight: bold;
                    transform: translateX(-10px) translateY(-7px);
                }
            }
        }
    }
}