.new {
    display: flex;

    .newContainer {
        flex: 6;

        .top {
            margin: 10px;
            font-size: 18px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            font-weight: 500;
            color: lightgrey;
        }

        .bottom {
              -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            display: flex;
            margin: 10px;
            .left
            {
                flex:1;
                img
                {
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                    border-radius: 50%;
                    justify-self: center;
                }
            }
            .right
            {
                flex: 2;
                display: flex;
                form
                {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 20px;
                    .formInput
                    {
                        width: 40%;
                        .icon
                        {
                            cursor: pointer;
                        }
                        label
                        {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                        input
                        {
                            width: 100%;
                            border-bottom: 1px solid grey;
                        }
                    }
                    button
                    {
                        width: 150px;
                        background-color: teal;
                        cursor: pointer;
                        color: white;
                        border-radius: 5px;
                        padding: 5px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}